[submodule "bus-microservice"]
	path = bus-microservice
	url = https://github.com/RaubinsRaj/bus-microservice
[submodule "booking-microservices"]
	path = booking-microservices
	url = https://github.com/RaubinsRaj/booking-microservices.git
[submodule "user-microservice"]
	path = user-microservice
	url = https://github.com/RaubinsRaj/user-microservice.git
[submodule "transaction-microservice"]
	path = transaction-microservice
	url = https://github.com/RaubinsRaj/transaction-microservice
[submodule "seats-microservice"]
	path = seats-microservice
	url = https://github.com/RaubinsRaj/seats-microservice.git
